
.page.theme_dark {
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --background-color:#000028;
  --text-color:#F1B2CE;
  --subtitle-color:var(--background-color);
  --section-title-color:var(--accent-color);
  --decoration-color:var(--accent-color);
  --border-color:#ff007066;
}

.page.theme_dark .header__theme-menu-button_type_dark {
  outline: 1px solid var(--decoration-color);
}

.page.theme_dark .decoration {
  display: block;
}
